.dropdown {
    position: relative;
    display: inline-block;
	text-decoration: none;
}
.drop {
    background-color: #919C9F;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	text-decoration: none;
    overflow: hidden:
	float: left;
	
}
/* 下拉内容 (默认隐藏) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
	background-color: #CDD1D2
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .drop{
    background-color: #919C9F;
}
